@charset "UTF-8";
.adminstb{
	border-collapse:collapse;
	width:800px;
	margin:auto; 
}

.adminstb3{
	border-collapse:collapse;
	width:1000px;
	margin:auto; 
}

.adminstb3 td:nth-child(n+3), .adminstb3 tr:first-child {
	text-align:center;
}

.adminstb tr:hover:not(:first-child){
	background-color:#eee;
}

.adminstb a:visited, .adminstb a{
	color:skyblue;
}

.adminstb td:nth-last-child(2), .adminstb td:nth-last-child(1), .adminstb tr:first-child {
	text-align:center;
}

.adminstb2{
	border-collapse:collapse;
	width:600px;
	margin:auto;
}

.goodsuptb{
	font-size:20px;
	width:600px;
	margin:auto;
}
 .usertrtd td{padding:10px;}
.usertrtd{width:400px; margin:auto; border-collapse:collapse;}
.goodstb{
border-collapse:collapse;
	width:600px;
	margin:auto;
	
}
.goodstb td:first-child{
font-weight:bold;
}

.goodstb2{
border-collapse:collapse;
	width:400px;
	margin:auto;
	
}
.goodstb2 td:first-child{
font-weight:bold;
}
.adminstb3 tr:hover:not(:first-child){
	background-color:#eee;
}

.goodsuptb td{
	border-bottom:1px solid orange;
}

.goodsuptb td:first-child{
	border-left:1px solid orange;
	border-right:1px solid orange;
}

.goodsuptb{
	border-collapse:collapse;
}

.whiteinput{
	width:300px;
	border:1px solid white; 
}

.goodsthumb{
	width:200px;height:180px;background-size:contain;background-repeat:no-repeat;
	text-align:center;
	line-height:180px;
}