#maindiv{
	margin:auto;
	width:700px;
}

.listtop{
	width:750px;
}

.listtable{
	margin:auto;
	width:750px;
	border-collapse: collapse;
	border-spacing:0px;
}

.writerlong{
	padding:3px;
	margin:3px;
	width:100px;
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}


.titlelong{
	margin:3px;
	padding:3px;
	width:310px;
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.search{
	margin:auto;
	width:200px;	
}

.searchbar{
		width:200px;
		height:22px;
		padding: 3px;
		margin:30px;
		display: inline-block;
		border-color:#ffbb00;
		background: white;
		border-style:solid;
		border-width: thin; 
		border-radius: 3px;
	}

.searchbt{
 background-image: url('../img/search.png');
     background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    border: 0px;
 cursor:pointer;
 outline: 0;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}

.mouse:hover{
	background-color:#fef5da;
}

.line{
 	border-bottom:1px solid #ffbb00;
 	}

.nogul{margin:auto;}

.listcolor{
	border-top:3px solid #ffbb00;
	border-bottom:1.5px solid #ffbb00;
	background-color:#ffd668;
}

.page{
	color:red;
}
