@CHARSET "UTF-8";

		#body{
		font-family: 'Nanum Gothic', sans-serif;
		color:black;
	}
	
	#maindiv{	font-family:"Bauhaus ITC";
		font-size:22px;
		color:black;
		border-top:5px solid #ffbb00;
		
		}	
	#maindiv2{	font-family:"Bauhaus ITC";
		font-size:22px;
		color:black;
			
			.precontent{
			     word-break: keep-all;
        word-wrap: normal;
			}
			
		}	
	.writetitle {
		margin-left:140px;
		padding:30px;	
		font-size:25px;
		}
	#writetable{
		margin:auto;
		padding:40px;
		
		}
	#space{
		align:center;
		width:2000px;
		height:900px;
		background-color:#F2F2F2;
	}
	#writespace{
		padding:20px;
	}
	.signupinput{
		width:758px;
		padding: 15px;
		display: inline-block;
		border-color:black;
		background: white;
		border-style:solid;
		border-width: thin; 
		border-radius: 3px;
	}
	
	.signupinput2{
		margin:auto;
		width:968px;
		padding: 15px;
		display: inline-block;
		border-color:black;
		background: white;
		border-style:solid;
		border-width: thin; 
		border-radius: 3px;
	}
	
	#button123{
		font-family:"Bauhaus ITC";
		font-size:22px;
		width:200px;
		padding: 15px;
		display: inline-block;
		border-color:black;
		background: white;
		border-style:solid;
		border-width: thin; 
		border-radius: 3px;
		margin:10px 10px 10px 0px;
		
	}
	
	.contenttable{
		margin:auto;
		width:1200px;
		 border-collapse:collapse;
		 border-width:0px;
		 margin-top:40px;
		}
		
		#contenttable{
		margin:auto;
		padding:40px;

		}
.dropdownbt{
		border:solid;
		border-color:#f8db83;
		border-radius:3px;
		padding:15px;
		border-width: thin; 
}


		
	.contentline{
		padding:30px;
 		border-top:5px solid #ffbb00;
 		border-bottom:2px solid #ffbb00;
 	
 	} 
 	.contentline2{
		padding:30px;
 		border-top:2px solid #ffbb00;
	}
	
	#extraline{
		font-size:21px;
		color:#A4A4A4;
		border-bottom:2px solid #ffbb00;
		border-collapse:collapse;
		border-spacing:0px;
	}
	
	.content1{
		width:920px;
		
	}
	.bt2{
		background-color:white; 
		font-size:18px;
		border-color:#ffbb00;
		height:40px;
		margin: 5px;
		border-width:0.5px;
		border-style:solid;
		cursor: pointer;
		width: 80px;
		border-radius:3px; 
	}

	.commment{
		margin:auto;
		border-collapse:collapse;
		width:1000px;
		border-width:4px;
}


	#idpro{
		width:150px;
		height:150px;
		font-size:18px;
		border-style:solid;
		border-color:#ffbb00;
			}
			
#myDIV{
  width:1200px;
  height:100px;
  padding: 50px ;
  text-align: center;
  margin-top: 20px;
  border-top:double;
  border-bottom:double;
  border-color:orange;
  border-width:7px;
}
#myDIV2{
  width:1200px;
  height:100px;
  padding: 50px ;
  text-align: center;
  margin-top: 20px;
  border-top:double;
  border-bottom:double;
  border-color:orange;
  border-width:7px;
}


	.commment td{
	border-color:orange;
	
	}
	
	* {box-sizing: border-box;}
	
//재료,도구 보여주는 부분
.img-comp-container {
  position: relative;
  height: 250px; 
  width:1100px;
  margin:auto;
}
//가림막
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

//버튼
.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 65px;
  height: 55px;
  
  opacity: 0.7;
  border-radius: 3px;
  padding:6px;
   background: linear-gradient(90deg, #fddedd 50%, #e6f2ff 50%);
}
//도구

.divdiv1{
	background-color: #fddedd;
	width:1100px;
	height:200px;
	text-align:center;
	margin:auto;	
	border-top:double;
  border-bottom:double;
  border-color:#593a0d;
  border-width:7px;
}
//재료
.divdiv2{
	background-color:#e6f2ff;
	width:1100px;
	height:200px;
	text-align:center;
	margin:auto;	
	border-top:double;
  border-bottom:double;
  border-color:#593a0d;
  border-width:7px;
}

.orangeline11{border-bottom:4px solid orange;
						border-top:4px solid orange;}
.orangeline1{border-bottom:4px solid orange;}
.orangeline111{border-top:4px solid orange;}
.orangeline{border-bottom:3px solid orange;}

.selectcss{
			padding: .8em .5em;
			border-radius: 3px;
			border-color:black;
			
		}